name: Deploy to Dist

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with: {}
        # packageManager field in package.json is used to determine the pnpm version
        # https://github.com/pnpm/action-setup#version

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: '**/pnpm-lock.yaml'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Copy additional files
        run: |
          cp LICENSE dist/ || true
          cp README.md dist/ || true

      - name: Deploy to dist branch
        run: |
          cd dist
          git init
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "generated: build ${{ github.sha }} (run #${{ github.run_number }}) at $(date -u +'%Y-%m-%d %H:%M:%S') UTC"
          git push --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:dist
